DB_NAME=db_name
DB_ROOT_PASSWORD=mysql_root_password
JWT_SECRET=base64_encoded_jwt_secret

GOOGLE_CLIENT_ID=google_client_id
GOOGLE_CLIENT_SECRET=google_client_secret

KAKAO_CLIENT_ID=kakao_client_id
KAKAO_CLIENT_SECRET=kakao_client_secret

TOKEN_ENCRYPTION_SECRET=base64_encoded_token_encryption_secret