DB_HOST=db_host
DB_NAME=db_name
DB_port=db_port
DB_USER=db_user
DB_ROOT_PASSWORD=mysql_root_password
JWT_SECRET=base64_encoded_jwt_secret

GOOGLE_CLIENT_ID=google_client_id
GOOGLE_CLIENT_SECRET=google_client_secret

KAKAO_CLIENT_ID=kakao_client_id
KAKAO_CLIENT_SECRET=kakao_client_secret

TOKEN_ENCRYPTION_SECRET=base64_encoded_token_encryption_secret

API_SERVER_URL=https://api.example.com
FRONTEND_URL=https://frontend.example.com

AWS_REGION=ap-northeast-2
AWS_S3_BUCKET=example-ap-northeast-2-an
AWS_CLOUDFRONT_DOMAIN=https://dxxxxxxxxxxxxx.cloudfront.net
AWS_S3_PUBLIC_BASE_URL=https://example.s3.ap-northeast-2.amazonaws.com
AWS_ACCESS_KEY_ID=aws_access_key_id
AWS_SECRET_ACCESS_KEY=aws_secret_access_key
